* {
    box-sizing: border-box;
}

body {
    background-color: #4A5468;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    margin: 0;
}

main {
    padding: 50px 100px;

    /* Voer jouw code hieronder in */
    display: flex;
    gap: 20px;
}

section {
    text-align: center;
    font-size: 50px;
    background-color: #FFFFFF;
    padding: 50px 0;
    border: 2px solid #000000;
    border-radius: 5px;
    justify-content: space-around;
    /* Voer jouw code hieronder in */
    flex: 1;
}