html {
    /* Voer jouw code hieronder in */

}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Voer jouw code hieronder in */
h1 {
    font-size: 5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.2rem;
}

p {
    font-size: 1rem;
}