p {

    border: 1px solid #000000;
    width: 500px;
    text-align: justify;
    padding: 30px;
    border-radius: 5px;
}

    /* Voer jouw code hieronder in */
.second-text {
    margin: 20px 0px 60px 30px;
}
