body {
    background-color: #add8f5;
    color: #000000;
    margin: 0;
}

nav {
    border-bottom: 1px solid #000000;
}

header {
    background-color: #add8f5;
}

body {
    margin: 0px;
}

section {
    display: block;
    width: 100%;
    box-sizing: border-box;
    background-color: #add8f5;
    border: 0px;
    padding: 50px;
    margin: 50 px;
    text-align: 50px;
}

#gardevoir {
    background-color: #add8f5;
}

#victreebel {
    background-color: #ffecb3;
    border: 0px;
}

footer {
    text-align: center;
}