* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.block1 {
    background-color: #457B9D;

    /* Voer jouw code hieronder in */
    height: 70vh;
}

.block2 {
    background-color: rgb(69 123 157 / 50%);

    /* Voer jouw code hieronder in */
    height: 30vh;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    font-size: 3.75rem;
}