* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4 {
    margin-top: 0;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.25rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.25rem;
}

p {
    line-height: 1.5;
}

/* Voer jouw code hieronder in */
main img {
    max-width: 100%;
    height: auto;
}

nav {
    padding: 2rem;
}

body {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 200px 0px 200px;
}

header {
    background-color: #A0ABC0;
    padding: 10rem;
}

main {
    padding: 2rem;
    display: flex;
    flex-direction: row;
}

div {
    border: 10px;
    border-color: black;
}

section {
    display: flex;
}