nav {
    font-size: 60px;
}

a {
    border: 2px solid #4A5468;
    padding: 20px;
    box-sizing: border-box;
}


/* Voer jouw code hieronder in */
.left {
    padding: 30px 30px 30px 10px;
}

.middle {
    padding: 30px;
    margin-left: 100px;
    margin-right: 100px;
}

.right {
    padding: 30px 10px 30px 30px;
}